<div class="album py-5 ">
	<div class="container">

		<div class="row form">

			{% for pin in pins %}
				<div class=" col-lg-4 col-md-12 col-sm-12">
					<div class="card mb-4 box-shadow">

						<img class="card-img-top" src="{{ vich_uploader_asset(pin) }}" alt="{{ pin.title }}">

						<div class="card-body">
							<h2>
								<a href="{{ path("app_pin_show_datails",{id:pin.id})}}">{{pin.title}}</a>
							</h2>
							<p class="card-text">{{pin.description}}</p>
							<div class="d-flex justify-content-between align-items-center">
								<div class="btn-group">
									<a class="btn btn-sm btn-outline-secondary" href="{{ path("app_pin_show_datails",{id:pin.id})}}">View</a>
									{# 	<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
								</div>
								<small class="text-muted">created from
									{{pin.createdAt | ago}}</small>

							</div>
							<div class="d-flex justify-content-center align-items-center mt-4">
								<small class="text-muted">last updated
									{{pin.updatedAt|date("d/m/Y g:ia")}}</small>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
