{% extends "layout_back.html.twig" %}
{% block title %}

	{{ pin.title }}

{% endblock %}
{% block body %}
	
	<article>
		<h2>{{pin.title}}</h2>
		<p>{{pin.description}}</p>
	</article>

<a href="{{ path('app_page')}}">back</a>
<a href="{{ path('edit_pin',{id:pin.id})}}">edit</a>

{% endblock %}
