{% extends 'layout_back.html.twig' %}

{% block title %}ALL PINS!
{% endblock %}

{% block body %}
	<h1>
		{{  pluralize(pins|length,"Pin","Pins") }}
	</h1>

	{% for pin in pins %}
		<article>
			<h2>
				<a href="{{ path("app_pin_show_datails",{id:pin.id})}}">{{pin.title}}</a>
			</h2>
			<p>{{pin.description}}</p>
		</article>
	{% endfor %}
	{# <div>{{ toto()}}</div> #}
{% endblock %}
